extends ./../../templates/main/main.jade

block page-name
  - if (lang == "en")
    - var page_name = "Research"
  - if (lang == "pt_br")
    - var page_name = "Pesquisa"

block home
  - var home_path = "../../../"

block stylesheet
  - var stylesheet = "laboratorios.min.css"
  
block page-title
  - page_title = laboratory_name + " - " + page_title

block breadcrumbs-path
  -
    breadcrumbs_path = {}
    breadcrumbs_path[strings.breadcrumbs.home] = home_path
    breadcrumbs_path[strings.breadcrumbs.pesquisa] = "nolink"
    breadcrumbs_path[strings.breadcrumbs.laboratorios] = home_path + "/pesquisa/index.html",
    breadcrumbs_path[laboratory_name] = false 
  
block content

  include ./_lab-info/lab-info.jade
  include ./../../equipe/docentes/_professores-info/professores-info.jade
  
  - var laboratory = {}
  - var professor = {}  
  
  each item in laboratories
    if item.name == laboratory_name
      - laboratory = item
  
  each item in professors
    if item.name == laboratory.professor
      - professor = item

  .laboratorios
    .container
      #departamento-overview.session
        h1.session-title
          - if (lang == "pt_br") 
            | !{laboratory.initials} - #{laboratory.name}
          - if (lang == "en") 
            | !{laboratory.initials} - #{laboratory.name_en}
        .row
          .col-md-12
            p.session-body
              strong
                - if (lang == "pt_br") 
                  | Professor responsável: 
                - if (lang == "en") 
                  | Responsible Professor: 
              a(href=home_path+"equipe/docentes/"+professor.page+"index.html" target="_blank")
                if professor.name
                  | #{professor.accademicTitle} #{professor.name}
                else
                  | #{laboratory.professor}
            p.session-body
              strong
                - if (lang == "pt_br") 
                  | Telefone: 
                - if (lang == "en")
                  | Phone: 
              | #{laboratory.phone_number}
            if (laboratory.external_site_url)
              p.session-body
                strong
                  - if (lang == "pt_br") 
                    | Site do laboratório: 
                  - if (lang == "en") 
                    | laboratory's homepage:
                a(href=laboratory.external_site_url target="_blank")
                  | !{laboratory.initials} 
            h2.session-subtitle
              - if (lang == "pt_br") 
                | Atividades
              - if (lang == "en") 
                | Activities
            p.session-body
              - if (lang == "pt_br") 
                | #{laboratory.activities}
              - if (lang == "en") 
                | #{laboratory.activities_en}
        .row
          .col-sm-12
            h2.session-subtitle
              - if (lang == "pt_br") 
                | Principais equipamentos
              - if (lang == "en") 
                | Main equipments
            ul.session-body
              - if (lang == "pt_br") 
                each equipment in laboratory.equipments
                  li
                    | #{equipment}
              - if (lang == "en") 
                each equipment in laboratory.equipments_en
                  li
                    | #{equipment}
