extends ../base.jade

block home
  - var home_path = "../../"
  
block stylesheet
  - var stylesheet = "equipe_apoio.min.css"
  
block page-title
  - page_title = page_title

block breadcrumbs-path
  -
    breadcrumbs_path = {}
    breadcrumbs_path[strings.breadcrumbs.home] = home_path
    breadcrumbs_path[strings.breadcrumbs.equipe] = home_path + "equipe/index.html"
    breadcrumbs_path[strings.breadcrumbs.apoio] = false
                         
block content

  .equipe-apoio
    
    .container.content.staff-list
      
      include _staff-info/staff-info.jade
      
      .session-title
        != strings.equipe.funcionarios.equipeApoio
      
      each staffMember in staff 
        if staffMember.status === "active"
          .row.staff
            .col-sm-3.col-lg-2
              .staff-picture
                img(src=staffMember.picture)
            .col-sm-9.col-lg-10
              .staff-name
                | #{staffMember.name}
              
              .staff-info
                span.field-title 
                  != strings.equipe.funcionarios.cargo
                span.field-body
                  | #{eval("staffMember.function." + lang)}
              
              if staffMember.email
                .staff-info
                  span.field-title 
                    != strings.equipe.funcionarios.email
                  a(href="mailto:"+staffMember.email)  
                    span.field-body
                      | #{staffMember.email}
                      
              if staffMember.phone
                .staff-info
                  span.field-title 
                    != strings.equipe.funcionarios.telefone 
                  span.field-body
                    | #{staffMember.phone}
                    
              if staffMember.fax
                .staff-info
                  span.field-title 
                    != strings.equipe.funcionarios.fax 
                  span.field-body
                    | #{staffMember.fax}
              
