extends base.jade

block home
  - var home_path = "../"
  
block stylesheet
  - var stylesheet = "pos-graduacao.min.css"
  
block page-title
  - page_title = page_title

block breadcrumbs-path
  -
    breadcrumbs_path = {}
    breadcrumbs_path[strings.breadcrumbs.home] = home_path
    breadcrumbs_path[strings.breadcrumbs.posgrad] = false
    
block content
  
  - if (lang === "pt_br")
    .news-bar
      
      include _news/news.jade
      
      .container-fluid
        .container 
          h1.session-title
            | Notícias
          //- a(href=home_path+"pos-graduacao/noticias/index.html")  
          //-   span.pull-right.more-news-btn
          //-     | + Notícias
          .row
            each item, index in news.sort(function(a,b){return b.date-a.date})
              if index < 4
                .col-sm-3.news-col
                  .news-block
                    .news-content
                      .news-header
                        h3.news-title
                          | #{item.title}
                        p.news-date 
                          span(class="glyphicon glyphicon-time" aria-hidden="true")
                          = item.date.getDate() + "." + item.date.getMonth() + "." + item.date.getFullYear() 
                      p.news-body 
                        != item.body
            
  .container
    include _documentos/documentos.jade
    
    .pos-graduacao
      .row
            
        .col-sm-9.col-sm-push-3
          .session
            h1.session-title
              != strings.grad.objetivos
            p.session-body
              != strings.grad.objetivosTexto
           
            h1.session-title
              != strings.grad.estruturaAcademica
            p.session-body
              != strings.grad.estruturaAcademicaTexto
          
            h1.session-title
              != strings.grad.admissao
            h2.session-subtitle
              != strings.grad.candidatoMestrado 
            p.session-body
              != strings.grad.candidatoMestradoTexto
            h2.session-subtitle
              != strings.grad.candidatoDoutorado
            p.session-body
              != strings.grad.candidatoDoutoradoTexto
          
          
            h1.session-title
              != strings.grad.obtencaoTitulo
            p.session-body
              != strings.grad.obtencaoTituloTexto
          
        .col-sm-3.col-sm-pull-9
          .sidebar
            h2.sidebar-title
              != strings.grad.informacoes
            
            p.session-body
              strong
                != strings.grad.coordenador
              a(href=home_path+"equipe/docentes/andre-paulo-tschiptschin/index.html")
                | Prof. Dr. André Paulo Tschiptschin
              br/
              strong
                != strings.grad.secretaria
              a(href="mailto:suellen.alves@usp.br")
                | Suellen Alves
          .sidebar
            h2.sidebar-title
              != strings.grad.docs
            
            ul
              each document in documents
                li.sidebar-body
                  a(href=document.url target="_blank")
                    - if (lang == "en") 
                      | #{document.title_en}
                    - if (lang == "es") 
                      | #{document.title_es}
                    - if (lang == "pt_br") 
                      | #{document.title}
