.banner
  div(id="myCarousel" class="carousel slide" data-ride="carousel")
    
    div(class="carousel-inner" role="listbox")
      div(class="item active")
        img(src=assets+"img/banner/banner001.jpg", alt="Chania")
        .container
          .image-description
            h2.title
              | O Repouso de Ulisses
            p.body
              | Ferro Fundido Cinzento Perlítico
              br/
            p.name  
              | Raphael Oliveira Ferreira
              
      div(class="item")
        img(src=assets+"img/banner/banner002.jpg", alt="Chania")
        .container
          .image-description
            h2.title
              | MeV de liga eutética ternária
            p.body
              | Liga Al54,Nb33,3Ni12,3
              br/
            p.name  
              | Éder Socrates Najar Lopes
              
      div(class="item")
        img(src=assets+"img/banner/banner003.jpg", alt="Chania")
        .container
          .image-description
            h2.title
              | Cheetos Tubo
            p.body
              | Nanopartículas de hematita (óxido de ferro)
              br/
            p.name  
              | Carlos Sato Baraldi Dias
              
      div(class="item")
        img(src=assets+"img/banner/banner004.jpg", alt="Chania")
        .container
          .image-description
            h2.title
              | Ovos de Aliens
            p.body
              | Microesferas de Cromo em um substrato de alumina
              br/
            p.name  
              | Mauricio Castro / Osvaldo Mitsuyuki Cintho
              
      div(class="item")
        img(src=assets+"img/banner/banner005.jpg", alt="Chania")
        .container
          .image-description
            h2.title
              | Fóssil do deserto
            p.body
              | Solda de revestimento por arame tubular - Superliga de níquel 625 sobre ASTM A516 Gr70
              br/
            p.name  
              | Camila Pereira Alvarão
              
      div(class="item")
        img(src=assets+"img/banner/banner006.jpg", alt="Chania")
        .container
          .image-description
            h2.title
              | Ferrita interstelar
            p.body
              | Meteorito HWA 859 taza (Fe-22%Ni-2%Si)
              br/
            p.name  
              | Marcelo Ferreiro Moreira
              br/
              
      div(class="item")
        img(src=assets+"img/banner/banner007.jpg", alt="Chania")
        .container
          .image-description
            h2.title
              | O coração Alado
            p.body
              | Aço VC9
              br/
            p.name  
              | Luis Bernardo Varela  Jiménez
