header
  .department-name
    .container
      p 
        strong Departamento de Engenharia Metalúrgica e de Materiais - 
        a(class="poli" href="http://www.poli.usp.br" target="_blank")
          | Escola Politécnica da Universidade de São Paulo
        a(class="poli-shorten" href="http://www.poli.usp.br" target="_blank")
          | POLI/USP
  .header-dark
    .container
      .header-logo
        a(href=home_path+"index.html")
          img(alt="logo PMT" src=assets+"img/pmt_logo_white.svg") 
      
      .header-mobile-menu
        ul
          li.level-1-menu
            a(class="menu-hamburger" href="#") 
              span(class="flaticon-menu" aria-hidden="true")
            ul.level-2-menu
              li
                a(href=home_path+"departamento/index.html") 
                  | O Departamento
              li
                a(href=home_path+"graduacao/index.html") 
                  | Graduação
              li
                a(href="#") 
                  | Pós-Graduação
              li
                a(href="#") 
                  | Equipe
              li
                a(href="") 
                  | Laboratórios
                      
      .header-menu
        ul
          each attribute, index in paths
            = attribute.length
            if attribute.length > 1
              li.level-1-menu
                a(href="")
                  | #{index}
                  span(class="arrow-down arrow-down glyphicon glyphicon-menu-down" aria-hidden="true")
                ul
                  each item in attribute
                    li.level-2-menu
                      a(href=home_path + item.relative_path)
                        | #{item.name}
            else
              li.level-1-menu.not-expandable
                a(href=home_path + attribute[0].relative_path)
                  | #{index}
            
