header
  .department-name
    .container
      p 
        strong Departamento de Engenharia Metalúrgica e de Materiais - 
        a(class="poli" href="http://www.poli.usp.br" target="_blank")
          | Escola Politécnica da Universidade de São Paulo
        a(class="poli-shorten" href="http://www.poli.usp.br" target="_blank")
          | POLI/USP
  .header-dark
    .container
      .header-logo
        a
          img(alt="logo PMT" src=assets+"img/pmt_logo_white.svg") 
      
      .header-mobile-menu
        ul
          li.level-1-menu
            a(class="menu-hamburger" href="#") 
              span(class="flaticon-menu" aria-hidden="true")
            ul.level-2-menu
              li
                a(href=home_path+"departamento/index.html") 
                  | O Departamento
              li
                a(href=home_path+"graduacao/index.html") 
                  | Graduação
              li
                a(href="#") 
                  | Pós-Graduação
              li
                a(href="#") 
                  | Equipe
              li
                a(href="") 
                  | Laboratórios
                      
      .header-menu
        ul
          li.level-1-menu
            a(href="#") 
              | O Departamento
              span(class="arrow-down arrow-down glyphicon glyphicon-menu-down" aria-hidden="true")
            ul
              li.level-2-menu
                a(href=home_path+"departamento/index.html#departamento-overview") 
                  | Panorama
              li.level-2-menu
                a(href=home_path+"departamento/index.html#departamento-history") 
                  | Nossa História
              li.level-2-menu
                a(href=home_path+"departamento/index.html#departamento-mission") 
                  | Missão
              li.level-2-menu
                a(href=home_path+"departamento/index.html#departamento-contact") 
                  | Contato
          li.level-1-menu
            a 
              | Graduação
              span(class="arrow-down glyphicon glyphicon-menu-down" aria-hidden="true")
            ul
              li.level-2-menu
                a(href=home_path+"graduacao/programa/index.html") 
                  |Programa dos Cursos
              li.level-2-menu
                a(href=home_path+"graduacao/disciplinas-horarios/index.html") 
                  | Disciplinas e Horários
              li.level-2-menu
                a(href="#") 
                  | Calendário Acadêmico
              li.level-2-menu
                a(href="#") 
                  | Administração
          li.level-1-menu
            a(href="#") 
              | Pós-Graduação
              span(class="arrow-down glyphicon glyphicon-menu-down" aria-hidden="true")
          li.level-1-menu
            a(href="#") 
              | Equipe
              span(class="arrow-down glyphicon glyphicon-menu-down" aria-hidden="true")
            ul
              li.level-2-menu
                a(href=home_path+"equipe/docentes/index.html") 
                  | Corpo Docente
              li.level-2-menu
                a(href="#") 
                  | Equipe de Apoio
          li.level-1-menu.not-expandable
            a(href="#") 
              | Laboratórios
      
            
