header  
  .department-name
    .container
      p 
        strong Departamento de Engenharia Metalúrgica e de Materiais - 
        a(class="poli" href="http://www.poli.usp.br" target="_blank")
          | Escola Politécnica da Universidade de São Paulo
        a(class="poli-shorten" href="http://www.poli.usp.br" target="_blank")
          | POLI/USP
  .header-dark
    .container
      .header-logo
        a(href=home_path+"index.html")
          img(alt="logo PMT" src=assets+"img/pmt_logo_white.svg") 
      
      .header-mobile-menu
        ul
          li.level-1-menu
            a.js-hamburger-button(class="menu-hamburger" href="#") 
              span(class="js-menu-icon flaticon-menu" aria-hidden="true")
            ul.level-2-menu
              each attribute, index in paths
                li.js-menu-category
                  a
                    | #{index}
                  ul.js-menu-sub-category
                    each item in attribute
                      a(href=home_path + item.relative_path)
                        li.level-3-menu
                          | #{item.name}
                      
      .header-menu
        ul
          each attribute, index in paths
            if attribute.length > 1 || index === "Pesquisa" || index === "Diversos"
              li.level-1-menu
                a(href=home_path + attribute[0].relative_path, target=attribute[0].taget)
                  | #{index}
                  span(class="arrow-down arrow-down glyphicon glyphicon-menu-down" aria-hidden="true")
                ul
                  each item in attribute
                    li.level-2-menu
                      a(href=home_path + item.relative_path target=item.target)
                        | #{item.name}
            else
              li.level-1-menu.not-expandable
                a(href=home_path + attribute[0].relative_path)
                  | #{index}
