footer
  .container-fluid.footer
    .container  
      .row.social-networks
        .col-xs-12
          ul
            li
              span.share
                | COMPARTILHE O PMT 
            li
              div(class="fb-share-button" data-href="http://www.pmt.usp.br" data-layout="button_count" data-mobile-iframe="true")
            li
              script(type="IN/Share" data-url="www.pmt.usp.br" data-counter="right")  
            li
              a(class="twitter-share-button" href="https://twitter.com/intent/tweet")
                | Tweet
            li
              div(class="g-plus" data-action="share" data-annotation="bubble")
      .row
        .col-sm-4
          h3.footer-title
            | O Departamento
          ul  
            each page in paths["O Departamento"]
              li 
                a(href=home_path+page.relative_path)
                  | #{page.name}
          
          h3.footer-title
            | Equipe
          ul  
            each page in paths["Equipe"]
              li 
                a(href=home_path+page.relative_path)
                  | #{page.name}
        
        .col-sm-4
          h3.footer-title
            | Graduação
          ul  
            each page in paths["Graduação"]
              li 
                a(href=home_path+page.relative_path)
                  | #{page.name}

          h3.footer-title
            | Pós-Graduação
          ul  
            each page in paths["Pós-Graduação"]
              li 
                a(href=home_path+page.relative_path)
                  | #{page.name}

        .col-sm-4
          h3.footer-title
            | Pesquisa
          ul  
            each page in paths["Pesquisa"]
              li 
                a(href=home_path+page.relative_path)
                  | #{page.name}
          
          h3.footer-title
            | Extensão e Cultura
          ul  
            each page in paths["Extensão e Cultura"]
              li 
                a(href=home_path+page.relative_path)
                  | #{page.name}
                  
          h3.footer-title
            | Diversos
          ul  
            each page in paths["Diversos"]
              li 
                a(href=home_path+page.relative_path)
                  | #{page.name}
      .row
        .col-sm-12
          p.copyright
            != "&copy; " + new Date().getFullYear() + " - Departamento de Engenharia Metalúrgica e de Materiais da Escola Politécnica de Universidade de São Paulo"
            br/
            span(style="font-size: 12px;")
              | Este site é melhor visualizado em navegadores atualizados e compatíveis como Firefox, Opera ou Google Chrome.
