- if (lang == "en") 
  include ../../../config/paths_en.jade
  include ../../../config/locale/en.jade

- if (lang == "pt_br") 
  include ../../../config/paths.jade
  include ../../../config/locale/pt_br.jade

block page-name
  - var page_name = strings.template.main.pageName

- var page_title = page_name + " | PMT - POLI/USP"

block before
  
block page-title 

block home
  
  - var home_path = "../../"
  
block assets
  - if (lang == "pt_br") 
    - var assets = home_path + "assets/"
  
  - if (lang == "en") 
    - var assets = home_path + "../assets/"

block stylesheet
  - var stylesheet = ""
  
doctype html
html(lang=lang)
  head
    meta(http-equiv="X-UA-Compatible", content="IE=8")/
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1", name="viewport")
    title
      | #{page_title}
          
    link(rel="stylesheet" type="text/css" href=assets+"bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href=assets+"iconpack/flaticon.css")
    link(rel="stylesheet" href=assets+"css/magnific-popup.css")
    link(rel="stylesheet" href=assets+"js/slick/slick.css")
    link(rel="stylesheet" href=assets+"js/slick/slick-theme.css")
    link(rel="stylesheet" href=assets+"css/"+stylesheet)
    
    link(rel="canonical" href="https://dev.twitter.com/web/tweet-button")
    
    script(src=assets+"js/jquery-3.1.0.min.js")
    script(src=assets+"bootstrap/js/bootstrap.min.js")
    script(src=assets+"js/jquery.magnific-popup.min.js")
    script(src=assets+"js/slick/slick.min.js")    
    
    
    script(src=assets+"js/mobile-header.js")
  
  body
    
    //- Google Plus share button
    <!-- Posicione esta tag no cabeçalho ou imediatamente antes da tag de fechamento do corpo. -->
    script(src="https://apis.google.com/js/platform.js" async defer).
      {lang: 'pt-BR'}
    
    //- facebook share button script
    div(id="fb-root")
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    
    //- Linkedin share button script
    script(src="//platform.linkedin.com/in.js" type="text/javascript")
      lang: pt_BR
      
    //- Twitter share button script
    script.
      window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
       
        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };
       
        return t;
      }(document, "script", "twitter-wjs"));
    
      
    include includes/dark_header.jade
    
    include includes/banner.jade
    
    .container.info-bar
    
      include includes/breadcrumbs.jade
      
      .page-info
        h1.page-name
          | #{page_name}
        
        if paths[page_name] && paths[page_name].length > 1
          div.expand-menu
            span(class="arrow-down glyphicon glyphicon-menu-down" aria-hidden="true")
            ul.page-menu
              each page in paths[page_name]
                li(class=page.class)
                  a(href=home_path + page.relative_path)
                    | #{page.name}
            
          ul.page-menu
            each page in paths[page_name]
              li(class=page.class)
                a(href=home_path + page.relative_path)
                  | #{page.name}
                
    block content
    
    include includes/footer.jade
      
    script.
      $(document).ready(function() {
        $('.iframe-link').magnificPopup({
          type:'iframe'
        });
        
        $('.image-link').magnificPopup({
          type:'image'
        });
      });
      
      $('.multiple-items').slick({
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: true,
        responsive: [
          {
            breakpoint: 769,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      });
