include ../../../config/paths.jade

block before
  
block page-name
  - var page_name = "O Departamento"
  
block page-title 
  - var page_title = "#{page_name} | Departamento de Engenhaia Metalúrgica e de Materiais"

block home
  - var home_path = "../../"
  
block assets
  - var assets = home_path + "assets/"

block stylesheet
  - var stylesheet = ""
  
doctype html
html(lang="pt-br")
  head
    title
      | #{page_title}
    meta(http-equiv="content-type", name="viewport", content="width=device-width, initial-scale=1, charset=UTF-8")
          
    link(rel="stylesheet" type="text/css" href=assets+"bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href=assets+"iconpack/flaticon.css")
    
    link(rel="stylesheet" href=assets+"css/"+stylesheet)
    
    link(rel="canonical" href="https://dev.twitter.com/web/tweet-button")
    
    script(src=assets+"js/jquery-1.11.3.min.js")
    script(src=assets+"bootstrap/js/bootstrap.min.js")
  
  body
      
    include includes/dark_header.jade
    
    include includes/banner.jade
    
    .container
    
      include includes/breadcrumbs.jade
      
      .page-info
        h1.page-name
          | #{page_name}
          
        div.expand-menu
          if paths[page_name].length > 0
            span(class="arrow-down glyphicon glyphicon-menu-down" aria-hidden="true")
            ul.page-menu
              each page in paths[page_name]
                li(class=page.class)
                  a(href=home_path + page.relative_path)
                    | #{page.name}
          
        ul.page-menu
          each page in paths[page_name]
            li(class=page.class)
              a(href=home_path + page.relative_path)
                | #{page.name}
                
    block content
    
    include includes/footer.jade
        
          
            
