extends ../base.jade

block home
  - var home_path = "../../"
  
block stylesheet
  - var stylesheet = "equipe_docentes.min.css"
  
block page-title
  - var page_title = page_name + page_title

block breadcrumbs-path
  -
    breadcrumbs_path = { "Home" : home_path, 
                         "Equipe" : home_path + "equipe" }
                         
block content

  .equipe-docentes
    
    .container.content.professors-list
      
      include _professores-info/professores-info.jade
      
      each professor in professors 
        .row.professor
          .col-sm-3.col-lg-2
            .professor-picture
              img(src=professor.picture)
          .col-sm-9.col-lg-10
            .professor-name
              a(href=professor.page+"index.html")  
                | #{professor.name}
            
            .professor-info
              span.field-title 
                | Telefone: 
              span.field-body
                | #{professor.phone}
            
            .professor-info
              span.field-title 
                | E-mail: 
              a(href="mailto:"+professor.email)  
                span.field-body
                  | #{professor.email}
            
            .professor-info
              span.field-title 
                | Professor(a): 
              span.field-body
                | #{professor.category}
                
                
            .professor-info.research-area
              span.field-title 
                | Áreas de Pesquisa: 
              each area in professor.research
                span.field-body
                  | #{area}
                span.comma
                  | , 
