extends ../base.jade

block home
  - var home_path = "../../"
  
block stylesheet
  - var stylesheet = "equipe_docentes.min.css"
  
block page-title
  - page_title = page_title

block breadcrumbs-path
  -
    breadcrumbs_path = {}
    breadcrumbs_path[strings.breadcrumbs.home] = home_path
    breadcrumbs_path[strings.breadcrumbs.equipe] = home_path + "equipe/index.html"
    breadcrumbs_path[strings.breadcrumbs.docentes] = false
                         
block content

  .equipe-docentes
    
    .container.content.professors-list
      
      include _professores-info/professores-info.jade
      
      .session-title
        != strings.equipe.corpoDocente.corpoDocente
      
      each professor in professors 
        .row.professor
          .col-sm-3.col-lg-2
            .professor-picture
              a(href=professor.page+"index.html")  
                if professor.pictureSmall
                  img(src=professor.pictureSmall)
                else
                  img(src=professor.picture)
          .col-sm-9.col-lg-10
            .professor-name
              a(href=professor.page+"index.html")  
                | #{professor.name}
            
            .professor-info
              span.field-title 
                != strings.equipe.corpoDocente.telefone
              span.field-body
                | #{professor.phone}
            
            .professor-info
              span.field-title 
                != strings.equipe.corpoDocente.email
              a(href="mailto:"+professor.email)  
                span.field-body
                  | #{professor.email}
            
            .professor-info
              span.field-title 
                != strings.equipe.corpoDocente.professor
              span.field-body
                - if (lang == "en") 
                  | #{professor.category_en}
                - if (lang == "pt_br")
                  | #{professor.category}
                  
            .professor-info.research-area
              span.field-title 
                != strings.equipe.corpoDocente.areaPesquisa
              - if (lang == "en") 
                each area in professor.research_en
                  span.field-body
                    != area
                  span.comma
                  | , 
              - if (lang == "pt_br") 
                each area in professor.research
                  span.field-body
                    != area
                  span.comma
                    | , 
              
