extends ../../main/main.jade

block content
  
  .equipe-docentes-professor
    .container
  
      block professor-info
        
      .row.session.professor-general-info
        .col-sm-3.professor-picture
          img(alt="Imagem do Professor" src=professor.picture_path)
          
        .col-sm-9
          h2.session-title.professor-name
            | #{professor.name}
          
          .info-row
            span.field-title 
              != strings.equipe.corpoDocente.template.telefone
            span.field-body  
              | #{professor.phone}
          
          .info-row
            span.field-title 
              != strings.equipe.corpoDocente.template.email
            a(href="mailto:"+professor.email target="_blank")
              span.field-body  
                | #{professor.email}
          
          if professor.laboratory.name
            .info-row
              span.field-title 
                != strings.equipe.corpoDocente.template.laboratorio
              a(href=professor.laboratory.link)
                span.field-body 
                  - if (lang == "pt_br") 
                    | #{professor.laboratory.name}
                  - if (lang == "en") 
                    | #{professor.laboratory.name_en}
                  - if (lang == "es") 
                    | #{professor.laboratory.name_en}
                  
                
          .info-row
            span.field-title 
              != strings.equipe.corpoDocente.template.professor
            span.field-body  
              - if (lang == "pt_br") 
                | #{professor.category}
              - if (lang == "en") 
                | #{professor.category_en}
              - if (lang == "es") 
                | #{professor.category_es}
          
          .info-row
            span.field-title 
              | Lattes:
            a(href=professor.lattes target="_blank")
              span.field-body  
                | #{professor.lattes}
            span(class="external-link glyphicon glyphicon-new-window")  

          if professor.researcherId      
            .info-row
              span.field-title 
                | Researcher ID:
              each researcherId in professor.researcherId
                a(href="http://www.researcherid.com/rid/" + researcherId target="_blank")
                  span.field-body  
                    | #{researcherId}
                span(class="external-link glyphicon glyphicon-new-window")  

          if professor.orcid  
            .info-row
              span.field-title 
                | ORCID:
              a(href="http://orcid.org/" + professor.orcid target="_blank")
                span.field-body  
                  | #{professor.orcid}
              span(class="external-link glyphicon glyphicon-new-window")  
          
          if professor.scopusId
            .info-row
              span.field-title 
                | Scopus ID:
              a(href="https://www.scopus.com/authid/detail.uri?authorId=" + professor.scopusId target="_blank")
                span.field-body  
                  | #{professor.scopusId}
              span(class="external-link glyphicon glyphicon-new-window")  

      .row.session.professor-academic-background
        .col-md-12
          
          h3.session-title
            != strings.equipe.corpoDocente.template.formacaoAcademica
          
          each info in education_background
            .row
              .col-sm-2.year.field-title
                span
                  | #{info.year}
                  
              .col-sm-10.info
                p.title.field-title
                  - if (lang == "pt_br") 
                    | #{info.title}
                  - if (lang == "en") 
                    | #{info.title_en}
                  - if (lang == "es") 
                    | #{info.title_es}
                  
                p.field-body.university
                  if info.link
                    a(href=info.link target="_blank")
                      | #{info.university}
                    span(class="external-link glyphicon glyphicon-new-window")  
                  else
                    | #{info.university}

      .row.session.professor-modules
        .col-md-12
          h3.session-title
            != strings.equipe.corpoDocente.template.disciplinas
          
          if undergraduation_module.length > 0
            h4.session-subtitle
              != strings.equipe.corpoDocente.template.grad
            
            ul
              each module in undergraduation_module
                li 
                  a(href=module.link target="_blank")
                    - if (lang == "en")
                      | #{module.name_en}
                    - if (lang == "pt_br")
                      | #{module.name_pt}
          if graduation_module.length > 0
            h4.session-subtitle
              != strings.equipe.corpoDocente.template.posgrad

            ul
              each module in graduation_module
                li 
                  a(href=module.link target="_blank")
                    - if (lang == "en")
                      | #{module.name_en}
                    - if (lang == "pt_br")
                      | #{module.name_pt}
              
      .row.session.research
        .col-md-12
          h3.session-title
            != strings.equipe.corpoDocente.template.linhaPesquisaConsultorias
            
          h4.session-subtitle
            != strings.equipe.corpoDocente.template.linhaPesquisa
          
          ul
            each area in research_areas
              li 
                != area

          
          if (consultings.length > 0)
            h4.session-subtitle
              != strings.equipe.corpoDocente.template.consultorias

            ul
              each consulting in consultings
                li 
                  | #{consulting}
            
          
