extends base.jade

block home
  - var home_path = "../"

block stylesheet
  - var stylesheet = "graduacao.min.css"
  
block page-title
  - page_title = page_title

block breadcrumbs-path
  -
    breadcrumbs_path = {}
    breadcrumbs_path[strings.breadcrumbs.home] = home_path
    breadcrumbs_path[strings.breadcrumbs.graduacao] = false

block content
  .graduacao
    - if (lang === "pt_br")
      .news-bar
        include _news/news.jade
        
        .container-fluid
          .container 
            h1.session-title
              | Notícias
            //- a(href=home_path+"graduacao/noticias/index.html")  
            //-   span.pull-right.more-news-btn
            //-     | + Notícias
            .row
              each item, index in news.sort(function(a,b){return b.date-a.date})
                if index < 4
                  .col-sm-3.news-col
                    .news-block
                      //- .news-image(style="background-image: url('../assets/img/news/#{item.image}')")
                      .news-content
                        .news-header
                          h3.news-title
                            | #{item.title}
                          p.news-date 
                            span(class="glyphicon glyphicon-time" aria-hidden="true")
                            = item.date.getDate() + "." + item.date.getMonth() + "." + item.date.getFullYear() 
                        p.news-body 
                          != item.body
      
    .container
      .row
        .col-sm-9.col-sm-push-3
          .session
            h1.session-title
              != strings.undergrad.main.metalurgica
            p.session-body
              != strings.undergrad.main.metalurgicaText
            h2.session-subtitle
              != strings.undergrad.main.metalurgicaProgram
            p
              ul
                li
                  a(href="https://uspdigital.usp.br/jupiterweb/listarGradeCurricular?codcg=3&codcur=3062&codhab=3000&tipo=N" target="_blank")
                    span.field-body  
                      | #{strings.undergrad.main.metalurgicaProgram} (3061)
                  span(class="external-link-icon glyphicon glyphicon-new-window")
           
            h1.session-title
              != strings.undergrad.main.materiais
            p.session-body
              != strings.undergrad.main.materiaisText
          
            h2.session-subtitle
              != strings.undergrad.main.materiaisProgram
            p        
              ul
                li
                  a(href="https://uspdigital.usp.br/jupiterweb/listarGradeCurricular?codcg=3&codcur=3102&codhab=3000&tipo=N" target="_blank")
                    span.field-body  
                      | #{strings.undergrad.main.materiaisProgram} (3101)
                  span(class="external-link-icon glyphicon glyphicon-new-window")
                  
        include _documentos/documentos.jade
        include _quick-links/quick-links.jade
        
        .col-sm-3.col-sm-pull-9
          .sidebar
            h2.sidebar-title
              != strings.undergrad.main.informacoes
            
            p.session-body
              strong
                | #{strings.undergrad.main.coordenador}: 
              a(href=home_path+"equipe/docentes/samuel-marcio-toffoli/index.html")
                | Prof. Dr. Samuel Marcio Toffoli
              br/
              strong
                | #{strings.undergrad.main.secretaria}: 
              a(href="mailto:vera.santos@usp.br")
                | Vera Lúcia dos Santos
          
          .sidebar
            h2.sidebar-title
              != strings.undergrad.main.linksUteis
            ul
              each document in documents
                li.sidebar-body
                  a(href=document.url target="_blank")
                    - if (lang == "en") 
                      | #{document.title.en}
                    - if (lang == "pt_br") 
                      | #{document.title.ptBr}
